{% extends "base.html" %} {% block title %}Search{% endblock %} {% block
    content %}
    

<div class="container" style=" margin: auto; padding: 20px;">
    <div class="row" style="margin: auto;padding: 10px; display: inline-block; width: 100%; font: 2em; text-align: center;background-color: rgb(236, 122, 169); color: rgb(12, 8, 15); height: 50px;">
        Search by EPIC ID
    </div>
    <div id="by_epic" class="tab-pane panel panel-default fade in active show" style="height: 60%;margin: auto;background-color: cornsilk;">        
        <div class="panel-body" style="margin: auto;padding: 10px;">
            <div class="row form-group" style="margin: auto;padding: 5px;">

                <div class="col-md-3 col-xs-3 col-sm-3">
                    <label class="text-info">Epic Id.&nbsp;</label>
                </div>
                
                <div class="col-md-5 col-xs-5 col-sm-5">
                    <input type="text" id="epicno" name="epicno" required="required" class="form-control" placeholder="Enter Epic Id">
                </div>

                <div class="col-md-2 col-xs-2 col-sm-2 text-right" style="margin: auto;">
                    <button class="btn btn-success btn-sm" type="button" id="Search_btn" ><i class="fa fa-search"></i> Search</button>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2" style="margin: auto;">
                    <button class="btn btn-danger btn-sm" type="reset" id="Reset_btn"><i class="fa fa-refresh"></i> Reset</button>
                </div>
                
            </div>
        </div>
        
        <div id="voter_data" style="display: none;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="margin: auto;padding: 5px; font-size: 12pt;background-color:wheat;">
                    Voter Details
                </div>
                <div class="panel-body" style="margin: auto;padding: 10px;">
                    <div class="row" align="center">
                        <div class="col-md-4">
                            <label class="text-info">Name : </label>
                        </div>
                        <div class="col-md-4">
                            <label class="text-info">Father Name : </label>
                        </div>
                        <div class="col-md-4">
                            <label class="text-info">Age : </label>
                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col-md-4">
                            <input type="text" style="background-color:white" id="voter_name" name="voter_name"  class="form-control col-md-9 col-xs-12 " readonly="">
                        </div>
                        <div class="col-md-4">
                            <input type="text" style="background-color:white" id="voter_f_name" name="voter_name"  class="form-control col-md-9 col-xs-12 " readonly="">
                        </div>
                        <div class="col-md-4">
                            <input type="text" style="background-color:white" id="voter_age" name="voter_name"  class="form-control col-md-9 col-xs-12 " readonly="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div id="constituency_data" style="display: none;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="margin: auto;padding: 5px; font-size: 12pt;background-color:wheat;">
                    Constituency Details
                </div>
                <div class="panel-body" style="margin: auto;padding: 10px;">
                    <div class="row" align="center">
                        <div class="col-md-6">
                            <label class="text-info">Assembly Constituency : </label>
                        </div>
                        <div class="col-md-6">
                            <label class="text-info">Parliamentary Constituency : </label>
                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col-md-6">
                            <input type="text" style="background-color:white" id="ac_name" name="voter_name"  class="form-control col-md-9 col-xs-12 " readonly="">
                        </div>
                        <div class="col-md-6">
                            <input type="text" style="background-color:white" id="pc_name" name="voter_name"  class="form-control col-md-9 col-xs-12 " readonly="">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function stateHandle() {
        if (document.getElementById("epicno").value==="") {
            document.getElementById("Search_btn").disabled = true; //button remains disabled
        } else {
            document.getElementById("Search_btn").disabled = false; //button is enabled
        }
    }        
    document.getElementById("epicno").addEventListener("change", stateHandle);
    
    document.getElementById('Search_btn').addEventListener('click', function(event) {
        var ref = 'http://127.0.0.1:5000/api/voters/';
        var voter_id = document.getElementById("epicno").value;
        fetch(ref.concat(voter_id)).then(response => response.json()).then(data => {
            document.getElementById("voter_name").value = data.name;
            document.getElementById("voter_f_name").value = data['father_name'];
            document.getElementById("voter_age").value = data.age;
            document.getElementById("voter_data").style.display = 'block';
            document.getElementById("ac_name").value = data['assembly_constituency'];
            document.getElementById("pc_name").value = data['parliamentary_constituency'];
            document.getElementById("constituency_data").style.display = 'block';

            console.log(data);
        });
        });        
        document.getElementById('Reset_btn').addEventListener('click', function(event) {
            document.getElementById("voter_name").value = '';
            document.getElementById("voter_f_name").value ="";
            document.getElementById("voter_age").value ="";
            document.getElementById("voter_data").style.display = 'none';
            document.getElementById("ac_name").value = "";
            document.getElementById("pc_name").value = "";
            document.getElementById("constituency_data").style.display = 'none';
        });

</script>


{% endblock %}